<ul class="list-group">
  <li class="list-group-item" ng-repeat="circle in version.learnEpCircles">
    <h5 class="list-group-item-heading">
      <span class="glyphicon glyphicon-record"></span>
      <span>{{circle.label}}</span>
    </h5>
    <p class="list-group-item-text">
      <ul class="list-group dt-contained-list">
        <li class="list-group-item" ng-repeat="entity in version.learnEpEntities" ng-if="isInsideCircle(entity, circle)">
          <input type="checkbox" checklist-model="model" checklist-value="entity.entity.id" class="pull-right">
          <span class="{{getIconClass(entity)}}"></span>
          <span>{{entity.entity.label || entity.entity.id}}</span>
        </li>
      </ul>
    </p>
  </li>
  <li class="list-group-item">
    <h5 class="list-group-item-heading">
      <span class="glyphicon glyphicon-unchecked"></span>
      <span>Do not belong to any circle</span>
    </h5>
    <p class="list-group-item-text">
      <ul class="list-group dt-contained-list">
        <li class="list-group-item" ng-repeat="entity in version.learnEpEntities" ng-if="isOrphaned(entity)">
          <input type="checkbox" checklist-model="model" checklist-value="entity.entity.id" class="pull-right">
          <span class="{{getIconClass(entity)}}"></span>
          <span>{{entity.entity.label}}</span>
        </li>
      </ul>
    </p>
  </li>
</ul>
