<ul class="list-group">
  <li class="list-group-item" ng-repeat="circle in version.learnEpCircles">
    <h5 class="list-group-item-heading">
      <div class="row dt-bnp-circle">
        <div class="col-xs-2">
          <i class="fa fa-circle-o"></i>
        </div>
        <div class="col-xs-10">
          <span>{{circle.label}}{{circle.label}} {{circle.label}}</span>
        </div>
      </div>
    </h5>
    <p class="list-group-item-text">
      <ul class="list-group dt-contained-list">
        <li class="list-group-item" ng-repeat="entity in version.learnEpEntities" ng-if="isInsideCircle(entity, circle)">
          <div class="row">
            <div class="col-xs-2">
              <img ng-src="{{$parent.getIcon(entity.entity)}}" alt="icon" class="dt-entity-icon">
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-8">
              <button type="button" class="btn btn-link" ng-click="attachedEntityClicked(entity.entity, $event)" ng-disabled="isEntityClickDisabled(entity.entity)">
                <span>
                  {{entity.entity.label || entity.entity.id}}
                </span>
              </button>
            </div>
            <div class="col-xs-1">
              <input type="checkbox" checklist-model="model.entities" checklist-value="entity.entity.id">
            </div>
          </div>
        </li>
      </ul>
    </p>
  </li>
  <li class="list-group-item">
    <h5 class="list-group-item-heading">
      <div class="row dt-bnp-circle">
        <div class="col-xs-2">
          <i class="fa fa-times-circle-o"></i>
        </div>
        <div class="col-xs-10">
          <span>Do not belong to any circle</span>
        </div>
      </div>
    </h5>
    <p class="list-group-item-text">
      <ul class="list-group dt-contained-list">
        <li class="list-group-item" ng-repeat="entity in version.learnEpEntities" ng-if="isOrphaned(entity)">
          <div class="row">
            <div class="col-xs-2">
              <img ng-src="{{$parent.getIcon(entity.entity)}}" alt="icon" class="dt-entity-icon">
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-8">
              <button type="button" class="btn btn-link" ng-click="attachedEntityClicked(entity.entity, $event)" ng-disabled="isEntityClickDisabled(entity.entity)">
                <span>
                  {{entity.entity.label || entity.entity.id}}
                </span>
              </button>
            </div>
            <div class="col-xs-1">
              <input type="checkbox" checklist-model="model.entities" checklist-value="entity.entity.id">
            </div>
          </div>
        </li>
      </ul>
    </p>
  </li>
</ul>
