<div class="form-group">
  <tags-input ng-model="tags" replace-spaces-with-dashes="false" add-on-comma="false" add-on-enter="true">
    <auto-complete source="autocomplete" select-first-match="false"></auto-complete>
  </tags-input>
</div>
<div class="dt-tag-cloud" ng-if="recommendations">
  <button class="btn btn-link" type="button" ng-repeat="recommendation in recommendations" ng-click="addToTags(recommendation, $event)">
    <span class="badge" ng-style="{fontSize: calculateFontSize(recommendation)}">{{recommendation.label}}</span>
  </button>
</div>
