<div ng-if="isLoggedIn()">
  <h1>Discussions for  <span>{{targetEntity.label}}</span></h1>

  <div ng-hide="discussionsLoaded" style="text-align:center;">
    <i class="fa fa-spinner fa-spin" style="font-size:500%;"></i>
  </div>

  <div class="panel panel-default"  ng-repeat="discussion in discussions | orderBy: '-creationTime'">
    <div class="panel-body">
      <div class="media dt-discussion-item">
        <div class="media-left">
          <span class="glyphicon glyphicon-user"></span>
          <div>{{discussion.author.label}}</div>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            <a ng-href="{{getDiscussionUrl(discussion)}}">{{discussion.label}}</a>
          </h4>
          <div class="row">
            <div class="col-xs-12" ng-bind-html="discussion.description"></div>
            <div class="col-xs-12">
              <attached-entities entities="discussion.attachedEntities"></attached-entities>
            </div>
            <div class="col-xs-10"><span class="badge" ng-if="discussion.tags" ng-repeat="tag in discussion.tags">{{tag.label}}</span></div>
            <div class="col-xs-2 class dt-like-dislike">
              <div class="dt-like">
                <a href="" ng-click="addLike(discussion, $event)"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                <span>0</span>
              </div>
              <div class="dt-dislike">
                <a href="" ng-click="addDislike(discussion, $event)"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                <span>0</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row dt-start-new-discussion">
    <button class="btn btn-success btn-lg pull-right" ng-click="startNewDiscussion()" ng-show="targetEntity">Start New Discussion</button>
  </div>
</div>

<div ng-if="!isLoggedIn()">
  <div class="container">
    <alert type="warning">Nothing to see here, move along. In case of errors, please contact the administrator.</alert>
  </div>
</div>
