<div ng-if="isLoggedIn()">
  <h1>List of discussions for episode: <span>{{targetEntity.label}}</span></h1>

  <ajax-loader loading-complete="discussionsLoaded"></ajax-loader>

  <div ng-show="discussionsLoaded && discussions.length < 1">
    <alert type="info">
      There are no discussions yet, you can go ahead and
      <a href=""  class="alert-link" ng-click="startNewDiscussion()">
        Start New Discussion
      </a>.
    </alert>
  </div>

  <div class="panel panel-default"  ng-repeat="discussion in discussions | orderBy: '-creationTime'">
    <div class="panel-body">
      <div class="media dt-discussion-item">
        <div class="media-left media-middle">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <div class="media-body">
          <div class="row dt-single-item-row">
            <div class="col-xs-10">
              <h4 class="media-heading">
                <a ng-href="{{getDiscussionUrl(discussion)}}">{{discussion.label}}</a>
                <span class="badge" ng-if="discussion.entries.length > 0">
                  {{discussion.entries.length}}
                </span>
              </h4>
            </div>
            <div class="col-xs-1">
              <edit-discussion discussion="discussion"></edit-discussion>
            </div>
            <div class="col-xs-1">
              <living-documents discussion="discussion"></living-documents>
            </div>
            <div class="col-xs-12 dt-date-time">
              By {{discussion.author.label}} on {{discussion.creationTime | date : "MM/dd/yyyy 'at' h:mm a"}}
            </div>
            <div class="col-xs-12" ng-bind-html="discussion.description"></div>
            <div class="col-xs-12">
              <attached-entities entities="discussion.attachedEntities"></attached-entities>
            </div>
            <div class="col-xs-10"><span class="badge dt-tag" ng-if="discussion.tags" ng-repeat="tag in discussion.tags">{{tag.label}}</span></div>
            <div class="col-xs-2">
              <likes model="discussion"></likes>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="!isLoggedIn()">
  <div class="container">
    <alert type="warning">Nothing to see here, move along. In case of errors, please contact the administrator.</alert>
  </div>
</div>
