<ajax-loader loading-complete="discussionLoaded"></ajax-loader>

<div class="panel panel-default" ng-if="discussion">
  <div class="panel-body">
    <div class="media dt-discussion-item">
      <div class="media-left media-middle">
        <span class="glyphicon glyphicon-user"></span>
      </div>
      <div class="media-body">
        <div class="row dt-single-item-row">
          <div class="col-xs-11">
            <h4 class="media-heading">
              {{discussion.label}}
            </h4>
          </div>
          <div class="col-xs-1">
            <edit-discussion discussion="discussion"></edit-discussion>
          </div>
          <div class="col-xs-12 dt-date-time">
            By {{discussion.author.label}} on {{discussion.creationTime | date : "MM/dd/yyyy 'at' h:mm a"}}
          </div>
          <div class="col-xs-12" ta-bind ng-model="discussion.description"></div>
          <div class="col-xs-12">
            <attached-entities entities="discussion.attachedEntities"></attached-entities>
          </div>
          <div class="col-xs-10">
            <span class="badge dt-tag" ng-if="discussion.tags" ng-repeat="tag in discussion.tags">{{tag.label}}</span>
          </div>
          <div class="col-xs-2">
              <likes model="discussion"></likes>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" ng-repeat="entry in discussion.entries | orderBy: 'creationTime'">
  <div class="panel panel-default col-xs-offset-2 col-xs-10">
    <div class="panel-body">
      <div class="media dt-discussion-entry">
        <div class="media-left media-middle">
          <span class="glyphicon glyphicon-user"></span>
        </div>
        <div class="media-body">
          <div class="row">
            <div class="col-xs-11 dt-date-time">
              By {{entry.author.label}} on {{entry.creationTime | date : "MM/dd/yyyy 'at' h:mm a"}}
            </div>
            <div class="col-xs-1">
              <edit-entry discussion="discussion" entry="entry"></edit-entry>
            </div>
            <div class="col-xs-12" ta-bind ng-model="entry.content"></div>
            <div class="col-xs-12">
              <attached-entities entities="entry.attachedEntities"></attached-entities>
            </div>
            <div class="col-xs-10">
              <span class="badge dt-tag" ng-if="discussion.tags" ng-repeat="tag in entry.tags">{{tag.label}}</span>
            </div>
            <div class="col-xs-2">
              <likes model="entry" discussion="discussion"></likes>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-info" ng-show="discussion">
  <div class="panel-heading">
    <h3 class="panel-title">Add new Entry</h3>
  </div>
  <div class="panel-body">
    <form name="create_answer_form" novalidate ng-submit="doSubmit()" class="dt-create-answer">
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group">
            <text-angular ta-toolbar="[['bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'undo', 'redo', 'clear'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'indent', 'outdent'], ['html', 'insertImage', 'insertLink', 'insertVideo']]" name="description" ng-model="answer.description" required></text-angular>
            <div class="error-container"
                 ng-show="create_answer_form.description.$dirty && create_answer_form.description.$invalid && create_answer_form.$submitted">
              <small class="error text-danger"
                     ng-show="create_answer_form.description.$error.required">
                     Description is required
              </small>
            </div>
          </div>
          <div class="form-group pull-right">
            <button type="submit" class="btn btn-success btn-lg" ng-disabled="isBeingSubmitted()">
              <i class="fa fa-spinner fa-spin" ng-if="isBeingSubmitted()"></i>
              Create
            </button>
          </div>
        </div>
        <div class="col-xs-4">
          <tabset>
            <tab active="true">
              <tab-heading>
                Tags
              </tab-heading>
              <h4>Add tags</h4>
              <tags-and-cloud recommendations="tagResommendations" autocomplete="tagAutocomplete.promise" tags="answer.tags"></tags-and-cloud>
            </tab>
            <tab active="false" disable="!isEpisode()">
              <tab-heading>
                Bits and Pieces
              </tab-heading>
              <h4>Add Bits and Pieces</h4>
              <bits-and-pieces version="episodeVersion" orphaned="standaloneEntities" model="answer"></bits-and-pieces>
            </tab>
          </tabset>
        </div>
      </div>
    </form>
  </div>
</div>
