<div class="modal-header">
  <h3 class="modal-title">Select Living Document to connect</h3>
</div>
<div class="modal-body">
  <div ng-hide="documentsLoaded" style="text-align:center;">
    <i class="fa fa-spinner fa-spin" style="font-size:500%;"></i>
  </div>

  <ul class="list-group" ng-if="documents">
    <li class="list-group-item" ng-repeat="document in documents">
      <h4 class="list-group-item-heading">
        <label>
          <input type="radio" ng-model="$parent.$parent.selectedDocument" ng-value="document">
          {{document.label}}
        </label>
      </h4>
      <p class="list-group-item-text">{{document.description}}</p>
    </li>
  </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-lg btn-success center-block" ng-disabled="!selectedDocument" ng-click="connectToDocument()">Connect to Discussion</button>
</div>
